@charset "utf-8";

/* size */
@media screen and (max-width: 1250px) { } /* tablet */
@media screen and (max-width: 650px) { } /* mobile */

/* default */
*{
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    color : inherit;
    box-sizing: border-box;
    letter-spacing: inherit;
    line-height: inherit;
}

body{ font-family: 'Pretendard', sans-serif; font-weight:400; font-size: 16px; letter-spacing: -0.04em; }
section{ display:block; }
a{ color:inherit; }

.inner{ width:1200px; margin:0 auto; }

.paging_box{ padding:10px 0; display:flex; align-items: center; justify-content: center; }

select{
    -webkit-appearance: none; -moz-appearance: none;  appearance: none;
    background: url('../img/common/select-icon.png') no-repeat 98% 50% #fff; 
}
select::-ms-expand{ display:none; }

@media screen and (max-width: 1250px) { 
    .inner{ width:100%; padding:0 4vw; }
} /* tablet */
@media screen and (max-width: 650px) { 
    .paging_box{ font-size: 13px; }
} /* mobile */



/* header */
header{ z-index: 999; transition: background .5s; background-color: rgba(0,0,0,0.1); position: fixed; left: 0; top: 0; width: 100%; padding: 14px 0; color: #fff; }
header.on{ background-color: #fff; color: #222; }
header.whiteBg{ background-color: #fff; color: #222; }
header .inner{ display: flex; align-items: center; justify-content: space-between; }
header.transparent{ background-color: transparent;} 
header .logo.black{ display: none; }
header.on .logo.black{ display: block; }
header.on .logo.white{ display: none; }
header.whiteBg .logo.black{ display: block; }
header.whiteBg .logo.white{ display: none; }
header .menuList{ text-align: center; font-weight: 500; display: flex; align-items: center; gap: 70px; } 
header .menuList > li{ display: flex; align-items: center; justify-content: center; position: relative; }
header .menuList .subMenu{ display: none; padding: 10px 0; min-width: 200px; top: calc(100% + 20px); position: absolute; background-color: #fff; color: #222; }
header .menuList .subMenu > li a{ display: block; padding: 10px 10px; line-height: 1.3em; }
header .contactBtn{ display: flex; align-items: center; gap: 5px; border: 2px solid #fff; border-radius: 100px; padding: 7px 12px; }
header .contactBtn .black{ display: none; }
header.on .contactBtn{ border-color: #222; }
header.whiteBg .contactBtn{ border-color: #222; }
header.on .contactBtn .black{ display: block; }
header.on .contactBtn .white{ display: none; }
header.whiteBg .contactBtn .black{ display: block; }
header.whiteBg .contactBtn .white{ display: none; }
header .slideMenuBtn{ background: transparent; position: fixed; right: 4vw; top: 14px; z-index: 99999; display: none; }

@media screen and (max-width: 1250px) { 
    header .menuList{ display: none; }
    header .slideMenuBtn{ margin-top: -2.5px; flex-direction: column; border: none; display: flex; align-items: center; justify-content: center; width: 25px; height: 26px; }
    header .slideMenuBtn span{ transition: opacity .5s, transform .5s , width .5s, background .5s; flex-shrink: 0; height: 2px; background-color: #fff; display: block; width: 100%; margin: 2.5px 0; }
    header.whiteBg .slideMenuBtn span{ background-color: #222; }  
    header.on .slideMenuBtn span{ background-color: #222; }  

    header .slideMenuBtn.on span:nth-child(1){ transform: rotate(45deg) translateX(5px) translateY(5px); }
    header .slideMenuBtn.on span:nth-child(2){ opacity: 0; width: 0; }
    header .slideMenuBtn.on span:nth-child(3){ transform: rotate(-45deg) translateX(4px) translateY(-5px); }
}
@media screen and (max-width: 650px) { 
    header .logo{ width: 120px; }
}


/* .mobileMenu */
.mobileMenu{ display: none; overflow-y: scroll; -ms-overflow-style: none; display: none; padding-top: 55.92px; position: fixed; left: 0; top: 0; background: #fff; width: 100%; height: 100%; z-index: 99; }
.mobileMenu::-webkit-scrollbar{ display: none; }
.mobileMenu .item{ display: flex; align-items: center; justify-content: space-between; padding: 20px 4vw; font-size: 20px; font-weight: 600; border-bottom: 1px solid #efefef; }
.mobileMenu .item .plus_minus{ position: relative; display: flex; align-items: center; justify-content: center; flex-shrink: 0; width: 25px; height: 26px; }
.mobileMenu .item .plus_minus .bar{ transition: transform .5s; display: block; height: 2px; width: 100%; background-color: #222; }
.mobileMenu .item .plus_minus .bar:nth-child(2){ transform: rotate(90deg); position: absolute; }
.mobileMenu .item .plus_minus.on .bar{ transform: rotate(0); }
.mobileMenu .subMenu{ display: none; }
.mobileMenu .subMenu a{ font-size: 18px; border-bottom: 1px solid #efefef; display: block; padding: 20px 4vw; font-weight: 400; }
@media screen and (min-width: 1250px) { 
    .mobileMenu{ display: none !important; }
}
@media screen and (max-width: 650px) { 
    .mobileMenu .item .plus_minus{ width: 18px; height: 18px; }  
}

/* footer */
footer .contentSection{ padding: 60px 0; }
footer .logo{ width: 218px; }
footer .contentSection .halfBox{ display: flex; align-items: center; justify-content: space-between; }
footer .contentSection .leftBox .infoList{ max-width: 700px; display: flex; flex-wrap: wrap; gap: 10px; margin-top: 20px; }
footer .contentSection .leftBox .infoList > li{ margin-right: 10px;  }
footer .contentSection .rightBox .title{ text-align: right; font-weight: 500; }
footer .contentSection .rightBox .snsList{ margin-top: 10px; display: flex; gap: 30px; }
footer .contentSection .rightBox .snsList > li img{ margin: 0 auto; display: block;  }
footer .contentSection .rightBox .snsList > li .snsName{ margin-top: 10px; text-align: center; }
footer .bottomSec{ border-top: 1px solid #E4E4E4; padding: 20px 0; }
footer .bottomSec .inner{ display: flex; align-items: center; justify-content: space-between; }
footer .bottomSec .privacy{ font-weight: 500; }
footer .bottomSec .copy_right{ color: #CCC; font-size: 14px; }

@media screen and (max-width: 1250px) { 
    footer .logo{ width: auto; }
    footer .contentSection .rightBox .snsList { gap: 15px; }
    footer .contentSection .rightBox .snsList > li img{ width: 40px; }
    footer .contentSection .rightBox .snsList > li .snsName{ font-size: 14px; }
}
@media screen and (max-width: 950px) { 
    footer{ font-size: 14px; }
    footer .contentSection .halfBox{ flex-direction: column; align-items: flex-start; gap: 40px; }
    footer .contentSection .rightBox .title{ text-align: left; }

    footer .contentSection .rightBox .snsList{ margin-top: 10px; }
    footer .contentSection .rightBox .snsList > li img{ width: 30px; }
    footer .contentSection .rightBox .snsList > li .snsName{ font-size: 13px; margin-top: 2px; }
    footer .bottomSec .copy_right{ font-size: 12px; } 
}
@media screen and (max-width: 650px) { 
    footer .logo{ width: 120px; }
    footer .contentSection .halfBox{ gap: 20px; }
}

/* 개인정보처리방침 , 이용약관 팝업 */
.privacyPopup{ 
	position: fixed; background-color: rgba(0, 0, 0, 0.60); width: 100%; height: 100%; z-index: 99999; left: 0; top: 0; 
	display: flex; align-items: center; justify-content: center; 
	opacity: 0; visibility: hidden; transition: opacity 0.5s, visibility 0.5s;
}
.privacyPopup.active{ opacity : 1; visibility: visible; }
.privacyPopup .inner{ max-width: 600px; }
.privacyPopup .contentWrap{ background-color: #fff; padding: 40px 30px; }
.privacyPopup .contentWrap .titleBox{ display: flex; justify-content: space-between; align-items: center; }
.privacyPopup .contentWrap .titleBox span{ font-weight: 600; font-size: 24px;  }
.privacyPopup .contentWrap .titleBox .closeBtn{ cursor: pointer;  }

.privacyPopup .contentWrap .contentBox{ margin-top: 30px; background-color: #F7F7F7; padding: 30px; max-height: 60vh; overflow-y: scroll; }

@media screen and (max-width: 650px) {
	.privacyPopup .contentWrap{ padding: 30px 20px; }
	.privacyPopup .contentWrap .titleBox span{ font-size: 18px; }
	.privacyPopup .contentWrap .contentBox{ padding: 15px; margin-top: 20px; font-size: 14px; }
}


/* .main .visualSec */
.main .visualSec{ position: relative; display: flex; align-items: flex-end; justify-content: center; padding: 100px 0; min-height: 100vh; background-color: #000; }
.main .visualSec .videoBg{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; }
.main .visualSec .inner{ position: relative; z-index: 1; padding-bottom: 5vh; }
.main .visualSec .t1{ color: #fff; font-size: 24px; font-weight: 500; }
.main .visualSec .t2{ color: #fff; margin-top: 20px; font-size: 64px; font-weight: 700; word-break: keep-all; } 

@media screen and (max-width: 1250px) {
    .main .visualSec .t1{ font-size: 18px; }
    .main .visualSec .t2{ font-size: 45px; }
}
@media screen and (max-width: 950px) {
    .main .visualSec .t1{ font-size: 16px; }
    .main .visualSec .t2{ font-size: 30px; }
}
@media screen and (max-width: 650px) {
    .main .visualSec .t1{ font-size: 14px; }
    .main .visualSec .t2{ font-size: 25px; }
}

/* .main .aboutSec */
.main .aboutSec{  position: relative; flex-direction: column; padding: 100px 0 50px 0; min-height: 1000px; height: 100vh; display: flex; align-items: center; justify-content: center; }
.main .aboutSec .inner{ margin-top: 15vh; display: flex; flex-direction: column; justify-content: center; position: relative; }
.main .aboutSec .circle_list{ top: -200px; position: absolute; z-index: 2; right: 0; display: flex; align-items: center; justify-content: center; flex-direction: column; }
.main .aboutSec .circle_list > li + li{ margin-top: -40px; }
.main .aboutSec .circle_list .circle{ font-size: 24px; display: flex; align-items: center; justify-content: center; width: 240px; height: 240px; border-radius: 50%; background: #222; color: #fff; border-radius: 50%; }
.main .aboutSec .circle_list .circle.redBg{ background-color: #CF3140; }
.main .aboutSec .circle_list .circle.grayBg{ background-color: rgba(209, 210, 212, 0.8); }
.main .aboutSec .circle_list .circle.mintBg{ background-color: #5CC2CE; }
.main .aboutSec .circle_list .circle .title{ width: 170px; margin-left: 38px; padding-left: 30px; display: flex; align-items: center; justify-content: flex-start; position: relative; }
.main .aboutSec .circle_list .circle .title .white_circle{ display: flex; align-items: center; justify-content: center; position: absolute; left: 0; width: 19px; height: 19px; background-color: #fff; border-radius: 50%; }
.main .aboutSec .circle_list .circle .title .white_circle .barWrap{ position: relative; display: flex; align-items: flex-end; justify-content: center; }
.main .aboutSec .circle_list .circle .title .white_circle .barWrap .bar{ position: absolute; width: 2px; height:193px; background-color: #fff; bottom: 0; }
.main .aboutSec .content{ position: relative; z-index: 2; font-size: 24px; margin-top: 14px; font-weight: 500; }

.main .aboutSec .bottomBox{ margin-top: 72px; width: 100%; padding-left: calc((100% - 1200px) / 2); }
.main .aboutSec .bottomBox .grayBg{ padding: 80px 140px; display: flex; gap: 65px; position: relative; background-color: #F5F5F5; border-radius: 1000px 0 0 1000px; }
.main .aboutSec .bottomBox .grayBg::before{ content:'Red Bricks'; color:#F5F5F5; position: absolute; right: 28px; bottom: calc(100% - 30px); font-size: 191px; font-weight: 700;  }
.main .aboutSec .bottomBox .info{ margin-top: 15px; }


.main_title1{ position: relative; z-index: 2; color: #CF3140; font-size: 18px; }
.main_title2{ position: relative; z-index: 2; margin-top: 15px; font-size: 52px; font-weight: 700; }


@media screen and (max-width: 1250px) {
    .main .aboutSec{ min-height: 917px; }
    .main_title1{ font-size: 16px; }
    .main_title2{ font-size: 40px; margin-top: 5px; }
    .main .aboutSec .content{ font-size: 18px; }

    .main .aboutSec .circle_list{ right: 4vw; }
    .main .aboutSec .circle_list .circle{ font-size: 18px; width: 200px; height: 200px; }
    .main .aboutSec .circle_list .circle .title{ width: 120px; margin-left: 0; }
    .main .aboutSec .circle_list .circle .title .white_circle{ width: 15px; height: 15px; }
    .main .aboutSec .circle_list .circle .title .white_circle .barWrap .bar{ height: 162px; }

    .main .aboutSec .bottomBox .grayBg{ padding: 40px 80px; }
    .main .aboutSec .bottomBox .grayBg::before{ font-size: 120px; bottom: 100%;  }
}
@media screen and (max-width: 950px) {
    .main .aboutSec { min-height:100vh; height: auto; padding-bottom: 0; }
    .main .aboutSec .inner{ margin-top: 0; }
    .main_title1{ font-size: 16px; }
    .main_title2{ font-size: 25px;  }
    .main .aboutSec .content{ font-size: 16px; }
    .main .aboutSec .circle_list{ margin-top: 40px; position: static; flex-direction: row; }
    .main .aboutSec .circle_list > li { width: calc(100% / 3); }
    .main .aboutSec .circle_list > li + li{ margin-top: 0; }
    .main .aboutSec .circle_list .circle{ width: 100%; height: 31vw; font-size: 3vw; }
    .main .aboutSec .circle_list .circle .title{ width: auto; padding-left: 0; }
    .main .aboutSec .circle_list .circle .title .white_circle{ display: none; }
    .main .aboutSec .bottomBox .grayBg{ gap: 40px; padding: 20px 40px; border-radius: 0; margin-top: 12vw; }
    .main .aboutSec .bottomBox .grayBg::before{ right: 0; font-size: 19vw; }
}
@media screen and (max-width: 650px) {
    .main .aboutSec .circle_list .circle .title{ font-size: 4.5vw; }
    .main .aboutSec .bottomBox .grayBg{ padding: 40px; text-align: center; flex-direction: column; }
}




/* paralSlideSection */
.paralSlideSection{ min-height: 100vh; display: flex; align-items: center; justify-content: center; background-color: #F8F3EC; position: relative; overflow: hidden; padding: 100px 0; }
.paralSlideSection .inner{ max-width: 100%; }
.paralSlideSection .hiddenWrap{ max-width: 200px; max-height: 200px; overflow: hidden; width: 20vw; height: 20vw; display: flex; flex-direction: column; align-items: center; justify-content: center; }
.paralSlideSection .titleBox { position: relative; z-index: 2; display: flex; align-items: flex-end; justify-content: space-between; }
.paralSlideSection .titleBox .title{ font-size: 52px; font-weight: 700; }
.paralSlideSection .titleBox .moreBtn{ font-weight: 400; font-size: 22px; color: #7f7f7f; }
.paralSlideSection .slideBox{ width: 100%; position: relative; display: flex; justify-content: center; align-items: center; margin-top: 15px; }
.paralSlideSection .slideBox .pnBtnWrap{ display: flex; align-items: center; justify-content: space-between; height: 100%; width: calc(1200px + 122px); position: absolute; }
.paralSlideSection .slideBox .pnBtnWrap .pnBtn{ position: relative; z-index: 2; background: transparent; border: none; }
.paralSlideSection .slideBox .slideWrap{ z-index: 2;  width: 100vw; max-width: 1200px; position: relative; }
.paralSlideSection .slideBox .item .imgBox{ overflow: hidden; position: relative; display: flex; align-items: center; justify-content: center; height: 50vw; max-height: 490px; border-radius: 10px; background-color: #d9d9d9;  }
.paralSlideSection .slideBox .item .imgBox .realImg{ transition: transform .8s; width: 100%; height: 100%; position: absolute; background-size: cover; background-repeat: no-repeat; background-position: center; }
.paralSlideSection .slideBox .swiper-slide-active .item .imgBox{ position: relative; z-index: 1; box-shadow: 12px 13px 17px 0px rgba(0, 0, 0, 0.27); }
.paralSlideSection .slideBox .item:hover .imgBox .realImg{ transform: scale(1.1); }
.paralSlideSection .slideBox .item .slideTitle{ align-items: flex-end; display: flex; justify-content: space-between; gap: 10px; }
.paralSlideSection .slideBox .item .slideTitle .title{ margin-top: 25px; font-size: 22px; font-weight: 500; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;  }
.paralSlideSection .slideBox .item .slideTitle .count{ flex-shrink: 0; }
.paralSlideSection .slideBox .item .slideTitle .gray{ color: #7f7f7f; }
.paralSlideSection .bar{ margin-top: 50px; height: 6px; background-color: #222; }

@media screen and (max-width: 1350px) { 
    .paralSlideSection .inner{ width: 80vw; }
    .paralSlideSection .slideBox{ margin-top: 1vw; }
    .paralSlideSection .slideBox .slideWrap{ width:80vw;  }
    .paralSlideSection .slideBox .pnBtnWrap{ width: calc(100% - 60px); }
    .paralSlideSection .slideBox{ width: auto; }

}
@media screen and (max-width: 1250px) { 
    .paralSlideSection .titleBox .title{ font-size: 40px; }
    .paralSlideSection .titleBox .moreBtn{ font-size: 16px; }
    .paralSlideSection .slideBox{ margin-top: 4vw; }
    .paralSlideSection .slideBox .item .slideTitle .count{ font-size: 14px; }
}
@media screen and (max-width: 900px) { 
    .paralSlideSection .inner{ width: 100%; } 
    .paralSlideSection .titleBox .title{ font-size: 25px; }
    .paralSlideSection .slideBox{ width: auto; }
    .paralSlideSection .slideBox .pnBtnWrap{ display: none; }
    .paralSlideSection .slideBox .item .imgBox{ height: 53vw; max-height: unset; }
    .paralSlideSection .slideBox .item .slideTitle .title{ margin-top: 10px; font-size: 18px;}
    .paralSlideSection .slideBox .item .slideTitle .count{ font-size: 13px; }

    .paralSlideSection .hiddenWrap{ min-width: 150px; min-height: 150px; }
    .paralSlideSection .slideBox{ margin-top: 40px; }
}
@media screen and (max-width: 650px) { 
    .paralSlideSection .titleBox .title{ font-size: 32px; }
    .paralSlideSection .titleBox .moreBtn{ font-size: 13px; }
    .paralSlideSection .slideBox .item .imgBox{ height: 70vw; max-height: 539px; }
    .paralSlideSection .slideBox .item .slideTitle .title{ font-size: 4vw; }
    .paralSlideSection .slideBox .item .slideTitle .count{ display: none; }
}

/* howRedBricksSection */
.howRedBricksSection{ position: relative; overflow:hidden; padding: 100px 0; min-height: 100vh; display: flex; align-items: center; justify-content: center; }
.howRedBricksSection .textList{ position: absolute; display: flex; flex-direction: column; gap: 20vh; }
.howRedBricksSection .textBox{ gap: 4vw; display: flex; align-items: center; justify-content: center; font-weight: 700; background-color: #7f7f7f; color: #fff; font-size: 10vw; white-space: nowrap; padding: 0 5vw; border-radius: 20vw; }
.howRedBricksSection .textBox.redBg{ background-color: #CF3140;  }
.howRedBricksSection .textBox.mintBg{ background-color: #5CC2CE; }
.howRedBricksSection .textBox .circle{ border-radius: 50%; width: 2vw; height: 2vw; background-color: #fff; }

@media screen and (max-width: 650px) { 
    .howRedBricksSection{ padding-bottom: 50px; }
    .howRedBricksSection .textBox{ font-size: 10vw; }
}

/* .logoSlideSec */
.logoSlideSec{ text-align: center; background-color: #FAFAFA; overflow: hidden; position: relative; min-height: 100vh; display: flex; align-items: center; justify-content: center; }
.logoSlideSec .logoWrap{ position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: flex; align-items: center; justify-content: space-around }
.logoSlideSec .logoWrap .logo{ width: 200px; }
.logoSlideSec .contentWrap{ padding: 400px 0; position: relative; z-index: 2; }
.logoSlideSec .title1{ font-size: 32px; font-weight: 700; line-height: 1.5em; }
.logoSlideSec .btnWrap{ max-width: 549px; display: flex; align-items: center; gap: 24px; margin: 24px auto;  justify-content: center; }
.logoSlideSec .btnWrap > li{ width: calc(100% / 2); }
.logoSlideSec .btnWrap .item{ display: block; text-align: center; background-color: #5CC2CE; border-radius: 4px; width: 100%; padding: 16px 0; font-weight: 500; color: #fff; }
.logoSlideSec .btnWrap .item.redBg{ background-color: #CF2E41; }


@media screen and (max-width: 1250px) { 
    .logoSlideSec .logoWrap .logo{ width: 20vw; }
    .logoSlideSec .logoWrap .logoList:nth-child(5){ display: none; }
    .logoSlideSec .title1{ font-size: 28px; }
    .logoSlideSec .btnWrap{ gap: 14px; }
}
@media screen and (max-width: 950px) { 
    .logoSlideSec .logoWrap .logoList:nth-child(4){ display: none; }
    .logoSlideSec .title1{ font-size: 24px; }
    .logoSlideSec .btnWrap{ gap: 10px; }
}
@media screen and (max-width: 650px) { 
    .logoSlideSec{ min-height: unset; }
    .logoSlideSec .contentWrap{ padding: 200px 0; }
    .logoSlideSec .logoWrap .logo{ width: 30vw; }
    .logoSlideSec .logoWrap .logoList:nth-child(3){ display: none; }
    .logoSlideSec .title1{ font-size: 5vw; }
    .logoSlideSec .btnWrap .item{ font-size: 14px; padding: 10px; }
}

/* .main .quadrangleSection */
.main .quadrangleSection{ word-break: keep-all; overflow: hidden; position: relative; min-height: 100vh; padding: 0 0 120px 0; display: flex; align-items: center; justify-content: center; }
.main .quadrangleSection .inner{ position: relative; }
.main .quadrangleSection .inner::before{ content:''; display: block; width: 100%; height: 100%; background-color: #F7F7F7; position: absolute; left: calc(-100% - 10px); top: 0; border-radius: 10px; }
.main .quadrangleSection .inner::after{ content:''; display: block; width: 100%; height: 100%; background-color: #F7F7F7; position: absolute; right: calc(-100% - 10px); top: 0; border-radius: 10px; }
.main .quadrangleSection .halfBox{ display: flex; gap: 10px; }
.main .quadrangleSection .box{ display: flex; flex-direction: column; }
.main .quadrangleSection .imgItem{ display: flex; align-items: center; justify-content: center; position: relative; border-radius: 10px; overflow: hidden; width: 580px; height: 500px; }
.main .quadrangleSection .imgItem .background{ margin-left: -20%; width: 120%; transition: transform 1s; }
.main .quadrangleSection .imgItem:hover .background{ transform: scale(1.1); }
.main .quadrangleSection .imgItem .contentBox{ 
    z-index: 1; position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: flex; align-items: flex-end; padding: 25px; 
    color: #fff; display: flex; justify-content: space-between;
}
.main .quadrangleSection .imgItem .contentBox .t1{ font-size: 22px; font-weight: 500; }
.main .quadrangleSection .imgItem .contentBox .viewMore{ font-size: 14px; opacity: 0; }
.main .quadrangleSection .imgItem:hover .contentBox .viewMore{ opacity: 1;} 
.main .quadrangleSection .viewMore{ display: flex; align-items: center; gap: 5px; font-weight: 300; }
.main .quadrangleSection .itemList{ flex-grow: 1; display: flex; flex-wrap: wrap;  width: calc(100% + 10px); margin-left: -5px; margin-top: -5px; }
.main .quadrangleSection .itemList > li{ width: calc(100% / 2); padding: 5px 5px; }
.main .quadrangleSection .itemList .item{ display: flex; flex-direction: column; transition: background .5s; padding: 30px 10px 30px 30px; border-radius: 10px; background-color: #EBEBEB; height: 100%; }
.main .quadrangleSection .itemList .item:hover{ background-color: #CD354E; }
.main .quadrangleSection .itemList .item .title{ font-size: 22px;  }
.main .quadrangleSection .itemList .item:hover{  color: #fff; }
.main .quadrangleSection .itemList .item .content{ line-height: 1.5em; flex-grow: 1; margin-top: 5px; font-size: 14px; }
.main .quadrangleSection .itemList .item .viewMore{ margin-bottom: 15%; color: #fff; display: flex; align-items: center; gap: 5px; font-size: 14px; opacity: 0; transition: opacity .5s; }
.main .quadrangleSection .itemList .item:hover .viewMore{ opacity: 1; }
.main .quadrangleSection .blackBtn{ transition: background .5s; margin-top: 5px; display: block; border-radius: 10px; text-align: center; border-radius: 20px; padding: 30px 20px; font-size: 22px; font-weight: 700; color: #fff; background-color: #222; }
.main .quadrangleSection .blackBtn:hover{ background-color: #CD354E; }

@media screen and (max-width: 1250px) { 
    .main .quadrangleSection .imgItem{ width: 50vw; height: 55vw; }
    .main .quadrangleSection .imgItem .background{ width: 130%; }
    .main .quadrangleSection .imgItem .contentBox .t1{ font-size: 18px; }
    .main .quadrangleSection .itemList .item{ padding: 20px; }
    .main .quadrangleSection .itemList .item .title{ font-size: 18px; }
    .main .quadrangleSection .blackBtn{ padding: 20px 10px; }
    .main .quadrangleSection .itemList .item .content{ word-break: keep-all; }
    .main .quadrangleSection .itemList .item .content br{ display: none; }
    .main .quadrangleSection .blackBtn{ font-size: 18px; }
}
@media screen and (max-width: 950px) { 
    .main .quadrangleSection .halfBox{ flex-direction: column; }
    .main .quadrangleSection .imgItem .contentBox .viewMore{ opacity: 1; position: absolute; right: 20px; bottom: 20px; }
    .main .quadrangleSection .imgItem .contentBox .viewMore .txt{ display: none; }
    .main .quadrangleSection .imgItem .background{ width: 120%; }
    .main .quadrangleSection .imgItem{ width: 100%; height: 59vw; }
    .main .quadrangleSection .itemList .item .viewMore{ margin-bottom: 0; opacity: 1; color: #222; }
    .main .quadrangleSection .itemList .item:hover .viewMore{ color: #fff; }
}
@media screen and (max-width: 650px) { 
    .main .quadrangleSection .itemList > li{ width: 100%; }
    .main .quadrangleSection .itemList .item{ position: relative; }
    .main .quadrangleSection .itemList .item .viewMore{ position: absolute; right: 20px; top: 20px; } 
    .main .quadrangleSection .itemList .item .viewMore .txt{ display: none; }
}



/* .main .positiveSection */
.main .positiveSection{ overflow: hidden; color: #fff; position: relative; min-height: 100vh; padding: 100px 0; display: flex; align-items: center; justify-content: center; }
.main .positiveSection .blackBg{ opacity: 0; transition: opacity .5s; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.4); }
.main .positiveSection.on .blackBg{ opacity: 1; }
.main .positiveSection .bgDiv{ opacity: 0; transition: opacity .5s, trannsform .5s; transform: scale(1.2); position: absolute; left: 0; top: 0; width: 100%; height: 100%; background-image: url('../img/main/positiveSection/background.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center; }
.main .positiveSection.on .bgDiv{ opacity: 1; transform: scale(1); }
.main .positiveSection .inner{ position: relative; z-index: 1; }
.main .positiveSection .contentWrap{ display: flex; flex-direction: column; align-items: flex-start; position: relative; }
.main .positiveSection .titleWrap{ transition: letter-spacing 1s; letter-spacing: -.2em;  position: relative; width: 550px; max-width: 100%; font-size: 80px; font-weight: 800; }
.main .positiveSection.on .titleWrap{ letter-spacing: -0.04em;  }
.main .positiveSection .titleWrap span{ transition: right 1s , opacity 2s; opacity: 0; }
.main .positiveSection .titleWrap span.front{ padding-left: 6%; }
.main .positiveSection .titleWrap span.front.rfront{ padding-left: 12%; }
.main .positiveSection.on .titleWrap span{ opacity: 1; }
.main .positiveSection .titleWrap .mint{ z-index: 1; opacity: 1; color: #5CC2CE; position: absolute; opacity: 1; right: 40px; }
.main .positiveSection .titleWrap .mint2{ right: 70px; }
.main .positiveSection .titleWrap .red{ z-index: 1; opacity: 1;  position: absolute; color: #CD354E; opacity: 1; right: 0; }

.main .positiveSection.on .titleWrap .mint.mint1{ right: 94%; }
.main .positiveSection.on .titleWrap .mint.mint2{ right: 94%; }

.main .positiveSection.on .titleWrap .red.red1{ right: 47%; }
.main .positiveSection.on .titleWrap .red.red2{ right: 61%; }

.main .positiveSection .content{ opacity: 0; transition: transform .5s, opacity .5s; transition-delay: 1s; transform: translateY(20px); margin-top: 20px; line-height: 2em; margin-bottom: 12px; }
.main .positiveSection.on .content{ opacity: 1; transform: translateY(0); }
.main .positiveSection .moreBtn{ opacity: 0; transition: transform .5s, opacity .5s; transition-delay: 1.2s; transform: translateY(20px); }
.main .positiveSection.on .moreBtn{ opacity: 1; transform: translateY(0); }

@media screen and (max-width: 1250px) { 
    .main .positiveSection .titleWrap .mint{ right: 25%; }
    .main .positiveSection .titleWrap .red{ right: 11%; }
}
@media screen and (max-width: 650px) { 
    .main .positiveSection .titleWrap{ font-size: 10vw; width: 78vw; }
    .main .positiveSection .titleWrap span.front{ padding-left: 10vw; }

    .main .positiveSection .titleWrap .mint{ right: 48%; }
    .main .positiveSection .titleWrap .red{ right: 35%; }

    .main .positiveSection.on .titleWrap .red.red1{ right: 39%; }
    .main .positiveSection.on .titleWrap .red.red2{ right: 57%; } 
    .main .positiveSection.on .titleWrap .mint.mint1{ right: 88%; } 
    .main .positiveSection.on .titleWrap .mint.mint2{ right: 88%; }
}


/* .sec_top */
.sec_top{ padding-top: 65px; }
@media screen and (max-width: 650px) { 
    .sec_top{ padding-top: 55.92px; }
}

/* .sub .scrollTextSec */
.sub .scrollTextSec{ position: relative; overflow: hidden; flex-direction: column; min-height: calc(100vh - 65px); display: flex; align-items: center; justify-content: flex-end; }
.sub .scrollTextSec .textBox{ font-size: 5vw; font-weight: 700; border-bottom: 1px solid #E4E4E4; }
.sub .scrollTextSec .textBox .textList{ display: flex; }
.sub .scrollTextSec .textBox .textList > li{ white-space: nowrap;  }
.sub .scrollTextSec .textBox.redColor{ color: #CD354E; }
.sub .scrollTextSec .textBox.grayColor{ color: #E4E4E4; }
.sub .scrollTextSec .textBox.mintColor{ color: #5CC2CE; }

@media screen and (max-width: 950px) { 
    .sub .scrollTextSec .textBox{ font-size: 10vw; }
}
@media screen and (max-width: 650px) { 
    .sub .scrollTextSec .textBox{ font-size: 15vw; }
}


.sub .subTitle{ font-size: 52px; line-height: 1.5em; font-weight: 800; text-align: center; }
.sub .subContent{ margin-top: 35px; line-height: 1.5em; font-size: 24px; font-weight: 500; text-align: center; }

@media screen and (max-width: 950px) { 
    .sub .subTitle{ font-size: 40px; }
    .sub .subContent{ font-size: 18px; }
}
@media screen and (max-width: 650px) { 
    .sub .subTitle{ font-size: 30px; }
    .sub .subContent{ font-size: 16px; }
}

/* .sub01_1 .contentSec */
.sub01_1 .contentSec{ padding: 200px 0; position: relative; }

/* .sub01_1 .contentSec */
.sub01_1 .circleSec { position: relative; }
.sub01_1 .circleSec .halfBox:nth-child(1){ position: relative; opacity: 1; visibility: visible; }
.sub01_1 .circleSec .halfBox{ position: absolute; left: 0; top: 0; width: 100%; display: flex; opacity: 0; visibility: hidden; transition: opacity .5s, visibility .5s; }
.sub01_1 .circleSec .halfBox.on{ opacity: 1; visibility: visible; }
.sub01_1 .circleSec .halfBox .imgBox{ text-align: right; color: #fff; padding: 30px; display: flex; align-items: flex-end; height: calc(100vh); width: 50%; background-size: cover; background-repeat: no-repeat; background-position: center; }
.sub01_1 .circleSec .halfBox .imgBox .contentDiv{ display: flex; align-items: flex-end; justify-content: flex-end; flex-direction: column; width: 100%; font-size: 32px; line-height: 1.5em; }
.sub01_1 .circleSec .halfBox .imgBox .contentDiv .bar{ width: 80px; height: 4px; background-color: #fff; margin-bottom: 28px; }
.sub01_1 .circleSec .halfBox .contentBox{ background-color: #fff; padding: 40px; padding-left: 80px; display: flex; align-items: center; gap: 74px; }
.sub01_1 .circleSec .halfBox .contentBox .circleBox .icon{ height: calc(90vh - 100px); }
.sub01_1 .circleSec .halfBox .contentBox .itemBox{ height:100%; display: flex; flex-direction: column; justify-content: space-around; }  
.sub01_1 .circleSec .halfBox .contentBox .item{ font-size: 24px; width: 250px; text-align: center; padding: 20px; border-radius: 100px; border: 1px solid #222; }
.sub01_1 .circleSec .halfBox .contentBox .item.red{ color: #CD354E; border-color: #CD354E; border-width: 1px; }
.sub01_1 .circleSec .halfBox .contentBox .item + .item{ margin-top: 10px; }
.sub01_1 .circleSec .halfBox .contentBox .circleBox .icon.mo{ display: none; }

@media screen and (max-width: 1250px) { 
    .sub01_1 .circleSec .halfBox .contentBox{ padding: 40px; padding-right: 4vw; gap: 4vw; }
    .sub01_1 .circleSec .halfBox .imgBox .contentDiv{ font-size: 18px; }
    .sub01_1 .circleSec .halfBox .contentBox .item{ font-size: 16px; }
    .sub01_1 .circleSec .halfBox .contentBox .item{ padding: 10px; width: 17vw; }
    .sub01_1 .circleSec .halfBox .contentBox .circleBox .icon{ max-width: 17vw;} 
    .sub01_1 .circleSec .halfBox .contentBox .itemBox{ height: 46vw; }
}
@media screen and (max-width: 950px) { 
    .sub01_1 .circleSec .halfBox{ flex-direction: column; }
    .sub01_1 .circleSec .halfBox .imgBox{ width: 100%; } 
    .sub01_1 .circleSec .halfBox .imgBox .contentDiv .bar{ width: 30px; height: 2px; }
    .sub01_1 .circleSec .halfBox .imgBox .contentDiv{ font-size: 16px; }
    .sub01_1 .circleSec .halfBox .contentBox .circleBox{ width: 50%; }
    .sub01_1 .circleSec .halfBox .contentBox .circleBox .icon{ max-width: unset; width: 100%; height: auto; }
    .sub01_1 .circleSec .halfBox .contentBox .itemBox{ gap: 16vw; height: auto; width: 50%; }
    .sub01_1 .circleSec .halfBox .contentBox .item{ font-size: 14px; width: 100%; }
    .sub01_1 .circleSec .halfBox .contentBox .item + .item{ margin-top: 10px; }

    .sub01_1 .circleSec .halfBox .contentBox .item{ color: #CD354E; border-color: #CD354E; }

    .sub01_1 .circleSec .halfBox .contentBox .circleBox .icon.mo{ display: block; }
    .sub01_1 .circleSec .halfBox .contentBox .circleBox .icon.pc{ display: none; }
}
@media screen and (max-width: 450px) { 
    .sub01_1 .circleSec .halfBox .contentBox .itemBox{ gap: 11vw; }
    .sub01_1 .circleSec .halfBox .contentBox .item{ font-size: 4vw; padding: 3vw; }
}





/* .sub01_1 .backgroundSec */

.sub01_1 .backgroundSec{ margin-top: 128px; height: 20vw; background-size: cover; background-repeat: no-repeat; background-position: center; }

@media screen and (max-width: 650px) { 
    .sub01_1 .backgroundSec{ height: 54vw; }
}

/* .sub01_1 .historySec */
.sub01_1 .historySec{ padding: 100px 0; }
.sub01_1 .historySec .year_list{ margin-top: 26px; }
.sub01_1 .historySec .year_list > li + li{ margin-top: 175px; }
.sub01_1 .historySec .year_list .item{ transition: color .5s; color: #e5e5e5; display: flex;  }
.sub01_1 .historySec .year_list .on .item{ color: #222; }
.sub01_1 .historySec .year_list .item .main_title2{ width: 400px; flex-shrink: 0; }
.sub01_1 .historySec .year_list .item .content{ word-break: keep-all; transition: color .5s; font-size: 18px; position: relative; padding-left: 40px; flex-grow: 1; line-height: 1.5em; }
.sub01_1 .historySec .year_list .item .content::before{ content:''; display: block; width: 24px; height: 24px; background-color: #e5e5e5; border-radius: 50%; position: absolute; left: 0; top: 2px; }
.sub01_1 .historySec .year_list .on .item .content::before{ transition: background .5s;  background-color: #CD354E; }

@media screen and (max-width: 1250px) { 
    .sub01_1 .historySec .year_list .item .main_title2{ width: 300px; }
    .sub01_1 .historySec .year_list .item .content{ font-size: 16px; padding-left: 30px; }
    .sub01_1 .historySec .year_list .item .content::before{ width: 15px; height: 15px; }
}
@media screen and (max-width: 950px) { 
    .sub01_1 .historySec .year_list .item .main_title2{ width: 200px; }
}
@media screen and (max-width: 650px) { 
    .sub01_1 .historySec .year_list > li + li{ margin-top: 40px; }
    .sub01_1 .historySec .year_list .item .main_title2{ width: 80px; }
    .sub01_1 .historySec .year_list .item .content{ font-size: 14px; margin-top: 10px; padding-left: 23px; }
}


/* .sub .topBannerSec */
.sub .topBannerSec{ position: relative; height: 440px; display: flex; align-items: center; justify-content: center; background-image: url('../img/sub/topBannerSec/background.jpg'); background-size: cover; background-repeat: no-repeat; }
.sub .topBannerSec .inner{ position: relative; }
.sub .topBannerSec .circle{ position: absolute; }
.sub .topBannerSec .circle2{ right: 0; top: 0; }
.sub .topBannerSec .circle1{ left: 0; top: calc(100% - 100px); }
.sub .topBannerSec .title{ text-align: center; color: #fff; font-size: 72px; font-weight: 700; }













